.main-background {
    background-color: lightgrey;
}

.main-header {
    width: 100%;
    height: 20vh;
    background-color: rgb(68, 68, 59);
}

.main-section {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}

.left-section {
    height: 100vh;
    width: 15vw;
    float: left;
    background-color: lightgrey;
}

.right-section {
    height: 100vh;
    width: 15vw;
    float: right;
    background-color: lightgrey;
}

.footer {
    width: 69%;
    height: 10vh;
    background-color: black;
    margin: 0 auto;
}